In [9]:
import pandas as pd 

#create the datframe
df = pd.DataFrame({'Weight':[45, 88, 56, 15, 71],
                   'Name':['Sam','Anilkumar','Prabhas','Abhishek','Robin'],
                   'Age':[14,21,19,20,18]})

#create the index
index_ = ['Row_1','Row_2','Row_3','Row_4','Row_5']

#set the index
df.index = index_

#print the dataframe
print(df)

       Weight       Name  Age
Row_1      45        Sam   14
Row_2      88  Anilkumar   21
Row_3      56    Prabhas   19
Row_4      15   Abhishek   20
Row_5      71      Robin   18

In [11]:
#return  the value
result = df.loc['Row_2','Name']

#print the result
print(result)

Anilkumar

In [12]:
import pandas as pd 

#creating the dataframe
df= pd.DataFrame({"A":[12,4,5,2,1],
                 "B":[7,2,54,3,4],
                 "C":[20,16,11,3,8],
                 "D":[14,3,8,2,6]})

#create the index
index_ = ['Row_1','Row_2','Row_3','Row_4','Row_5']

#set the index
df.index = index_

#print the dataframe
print(df)

        A   B   C   D
Row_1  12   7  20  14
Row_2   4   2  16   3
Row_3   5  54  11   8
Row_4   2   3   3   2
Row_5   1   4   8   6

In [14]:
result = df.loc[:,['A','C']]

print(result)

        A   C
Row_1  12  20
Row_2   4  16
Row_3   5  11
Row_4   2   3
Row_5   1   8

In [16]:
import pandas as pd

car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear':[3,3,4,4,5,4,3,3,3,3,3,3,4,4,4],
           'Cylinder':[6,8,4,4,6,6,8,8,8,8,8,8,4,4,4]}

#creating dataframe for the data using pandas
car_df = pd.DataFrame(car_data)

#printing dataframe
car_df

             Model Name  Gear  Cylinder
0               Valiant     3         6
1            Duster 360     3         8
2             Merc 240D     4         4
3              Merc 230     4         4
4              Merc 280     5         6
5             Merc 280C     4         6
6            Merc 450SE     3         8
7            Merc 450SL     3         8
8           Merc 450SLC     3         8
9    Cadillac Fleetwood     3         8
10  Lincoln Continental     3         8
11    Chrysler Imperial     3         8
12             Fiat 128     4         4
13          Honda Civic     4         4
14       Toyota Corolla     4         4

In [18]:
import pandas as pd

car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear':[3,3,4,4,5,4,3,3,3,3,3,3,4,4,4],
           'Cylinder':[6,8,4,4,6,6,8,8,8,8,8,8,4,4,4]}

#creating dataframe for the data using pandas
car_df = pd.DataFrame(car_data)

#printing unique values present in gear column
#in the gear column using unique() function
print(f"Unique values present in Gear column are :{car_df['Gear'].unique()}")

print(f"Unique values present in Gear column are :{car_df['Cylinder'].unique()}")

Unique values present in Gear column are :[3 4 5]
Unique values present in Gear column are :[6 8 4]

In [4]:
import pandas as pd
import numpy as np

car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear':[3,3,4,4,5,4,3,3,3,3,3,3,4,4,4],
           'Cylinder':[6,8,4,4,6,6,8,8,8,8,8,8,4,4,4]}

#creating dataframe for the data using pandas
car_df = pd.DataFrame(car_data)

#finding unique values
#groups using unique() function
unique_gear = pd.unique(car_df.Gear)
unique_cyl = pd.unique(car_df.Cylinder)

#printing unique values
print(f"unique values :{unique_gear.unique()}")

AttributeError: 'numpy.ndarray' object has no attribute 'unique'

In [22]:
import pandas as pd

car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear':[3,3,4,4,5,4,3,3,3,3,3,3,4,4,4],
           'Cylinder':[6,8,4,4,6,6,8,8,8,8,8,8,4,4,4]}

#creating dataframe for the data using pandas
car_df = pd.DataFrame(car_data)

#value_counts() function
gear_count = pd.value_counts(car_df.Gear)
cyl_count = pd.value_counts(car_df.Cylinder)

#another way of obtaining the same output
g_count = car_df['Gear'].value_counts()
cy_count = car_df['Cylinder'].value_counts()
print(gear_count)
print(cyl_count)

3    8
4    6
5    1
Name: Gear, dtype: int64
8    7
4    5
6    3
Name: Cylinder, dtype: int64

In [24]:
import pandas as pd

car_data = {'Model Name':['Valiant',
                         'Duster 360',
                         'Merc 240D',
                         'Merc 230',
                         'Merc 280',
                         'Merc 280C',
                         'Merc 450SE',
                         'Merc 450SL',
                         'Merc 450SLC',
                         'Cadillac Fleetwood',
                         'Lincoln Continental',
                         'Chrysler Imperial',
                         'Fiat 128',
                         'Honda Civic',
                         'Toyota Corolla'],
           'Gear':[3,3,4,4,5,4,3,3,3,3,3,3,4,4,4],
           'Cylinder':[6,8,4,4,6,6,8,8,8,8,8,8,4,4,4]}

#creating dataframe for the data using pandas
car_df = pd.DataFrame(car_data)

#finding unique values present in the particular group
name_count = pd.unique(car_df['Model Name'])
gear_count = pd.unique(car_df.Gear)
cyl_count = pd.unique(car_df.Cylinder)

#initializing variable to 0 for counting
name_unique = 0
gear_unique = 0
cyl_unique = 0

#writing separate for loop of each groups
for item in name_count:
    name_unique += 1
    
for item in gear_count:
    gear_unique += 1
    
for item in cyl_count:
    cyl_unique += 1
    
#printing the number of unique values present in each group
print(f"Number of unique values present in Model Name:{name_unique}")
print(f"Number of unique values present in Gear:{gear_unique}")
print(f"Number of unique values present in Cylinder:{cyl_unique}")

Number of unique values present in Model Name:15
Number of unique values present in Gear:3
Number of unique values present in Cylinder:3